<ion-header>
  <ion-toolbar>
    <ion-title>Tambah Produk</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="" icon="close-outline" defaultHref="/admin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked" style="padding-bottom: 0px;">URL Foto</ion-label>
        <ion-textarea type="url" rows="4" formControlName="foto" autoGrow="true" placeholder="Dalam format jpg"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Jenis</ion-label>
        <ion-select formControlName="jenis" placeholder="Pilih jenis item">
          <ion-select-option value="cpu">CPU</ion-select-option>
          <ion-select-option value="ram">RAM</ion-select-option>
          <ion-select-option value="motherboard">Motherboard</ion-select-option>
          <ion-select-option value="gpu">GPU</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nama</ion-label>
        <ion-input type="text" formControlName="merek" clearInput="true" maxlength="20" placeholder="Masukkan merek"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Model</ion-label>
        <ion-input type="text" formControlName="model" clearInput="true" maxlength="30" placeholder="Masukkan seri model"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Harga</ion-label>
        <ion-note float="left">Rp.</ion-note>
        <ion-input type="number" min="0" formControlName="harga" clearInput="true" placeholder="Masukkan harga"></ion-input>
      </ion-item>
      <ion-item style="padding-bottom: 16px;">
        <ion-label position="stacked">Stok</ion-label>
        <ion-input type="number" min="1" formControlName="stok" clearInput="true" placeholder="Masukkan jumlah barang"></ion-input>
      </ion-item>
      <ion-label style="padding: 16px 16px 16px 16px">Detail Produk</ion-label>
      <ng-container>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Base Clock</ion-label>
                <ion-input type="number" min="0" formControlName="baseClock" clearInput="true" placeholder="0.0"></ion-input>
                <ion-note>GHz</ion-note>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Boost Clock</ion-label>
                <ion-input type="number" min="0" formControlName="boostClock" clearInput="true" placeholder="0.0"></ion-input>
                <ion-note>GHz</ion-note>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Core Count</ion-label>
                <ion-input type="number" min="0" formControlName="core" clearInput="true" placeholder="0.0"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Thread Count</ion-label>
                <ion-input type="number" min="0" formControlName="thread" clearInput="true" placeholder="0.0"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
    </ion-list>
    <ion-button color="warning" (click)="onSubmit(form)" [disabled]="!form.valid">
      <ion-label>Tambahkan Produk</ion-label>
    </ion-button>
  </form>
</ion-content>
