<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="first-section" style="padding-top: 14px; padding-bottom: 10px;">
        <ion-item lines="none">
            <ion-avatar>
                <ion-img src="assets/images/ShinShimizu.jpg"></ion-img>
            </ion-avatar>
        </ion-item>
        <ion-grid class="ion-text-center">
            <ion-row>
                <ion-col>
                    <ion-label style="font-size: 15px; font-weight: bold;">Fransiskus Aprilion Aric</ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label style="font-size: 12px;">00000022190 - BL</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <ion-grid>
        <ion-card>
            <ion-item (click)="isItemA === 1 ? isItemA = 0 : isItemA = 1" class="clikcable" [lines]="!isItemA? 'full' : 'none'">
                <ion-label>About Me</ion-label>
                <ion-icon [name]="!isItemA? 'chevron-forward-outline' : 'chevron-down-outline'"></ion-icon>
            </ion-item>
            <ion-card-content *ngIf="isItemA" style="text-align: justify;">
                <ion-label>
                    Hello! This program is implemented by the name mentioned above on this page
                    (myself) with the help and consult of my friend Michael Frans.
                    Sources used as a guidance in creating this app are as below:
                </ion-label>
                <ion-row>
                    <ion-label>- https://ionicframework.com/docs</ion-label>
                </ion-row>
                <ion-row>
                    <ion-label>- https://forum.ionicframework.com/</ion-label>
                </ion-row>
                <ion-row>
                    <ion-label>- https://swiperjs.com/api/</ion-label>
                </ion-row>
                <ion-row>
                    <ion-label>- https://stackoverflow.com/</ion-label>
                </ion-row>
            </ion-card-content>
            <hr *ngIf="isItemA" class="solid" />
            <ion-item (click)="isItemB === 1 ? isItemB = 0 : isItemB = 1" class="clikcable" lines="none">
                <ion-label>About This App</ion-label>
                <ion-icon [name]="!isItemB? 'chevron-forward-outline' : 'chevron-down-outline'"></ion-icon>
            </ion-item>
            <ion-card-content *ngIf="isItemB" style="text-align: justify;">
                <ion-label>
                    This app provides simple informations about CPU, Motherboard, RAM, and GPU.
                    It acts as an online store (but you can't actually order to buy,
                    just windowshopping :D) and the price listed in Indonesian Rupiah.
                </ion-label>
            </ion-card-content>
        </ion-card>
    </ion-grid>
</ion-content>
