<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-avatar>
      <ion-img src="https://media.tenor.com/images/08c38d123e8b39ac12083b417153fa26/tenor.png"></ion-img>
    </ion-avatar>
  </ion-item>
  <ion-grid class="ion-text-center ion-padding-top">
    <ion-row>
      <ion-col>
        <ion-label style="font-size: 24px; font-weight: bold;">Fransiskus Aprilion Aric</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-bottom"><ion-col>
        <ion-label>00000022190 - BL</ion-label>
    </ion-col></ion-row>
    <ion-row style="text-align: justify;" class="ion-padding-bottom">
      <ion-label>
        Aplikasi ini dikerjakan oleh identitas yang tertera pada halaman ini
        (saya sendiri) dengan bantuan konsultasi dari Michael Frans. Sumber yang
        digunakan untuk membantu dalam pengerjaan aplikasi ini antara lain:
      </ion-label>
    </ion-row>
    <ion-row>
      <ion-label>- https://ionicframework.com/docs</ion-label>
    </ion-row>
    <ion-row>
      <ion-label>- https://forum.ionicframework.com/</ion-label>
    </ion-row>
    <ion-row>
      <ion-label>- https://swiperjs.com/api/</ion-label>
    </ion-row>
    <ion-row>
      <ion-label>- https://stackoverflow.com/</ion-label>
    </ion-row>
  </ion-grid>
</ion-content>
