ion-avatar {
    height: auto;
    width: 30%;
    margin: auto;
    display: block;
}

#first-section {
    --ion-background-color: paleturqoise;
    background-color: paleturquoise;
}

ion-card {
    button: true; 
    margin: 0 !important;
    padding: 0 !important;
}

.clickable:focus {
    --ion-background-color: darkgrey;
}