ion-avatar {
  --border-radius: 0px;
}

.grid {
  ion-img {
    height: 100px;
    width: 100px;
  }
}

ion-content {
    --ion-background-color: white;
}

ion-list {
    margin: 0 !important;
    padding: 0 !important;
}